body {
    /* max-width: 1000px; */
    min-width: 1000px;
    min-height: 1000px;
    overflow-x: hidden;
    height: 100vh;
    margin: 0;
    background-color: rgb(34, 66, 2);
    /* background-image: */

    /* linear-gradient(
                    rgba(0, 0, 0, 0), 
                    rgba(0, 0, 0, 0.9)
                ), 
         /* url('https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExaDJ2NmtvaDY2cmY2MGpqeTNxZ3pta3JwY3FneDhkZ3E4ZDlhYW5yNiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/X4fPTLm2TCtkNiJnhE/giphy.gif'); */
            /* url(''); */
         /* background-size: cover; */
    background-repeat: space;
    background-position: center center;
    background-attachment: fixed;
}

/* #daniel {
    -webkit-mask-image: "{{ url_for('static', filename='imgs/green.png') }}";
    mask-image: "{{ url_for('static', filename='imgs/green.png') }}";
    mask-repeat: no-repeat;    
} */

/* Animations */
@keyframes slide1 {
    from {right: -10rem;}
    to {right:0rem;}
}

@keyframes slide2 {
    from {right: -40rem;}
    to {right:7rem;}
}

@keyframes fade {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

@keyframes bigger {
    from {height: 100%;}
    to {height: 110%;}
}

@keyframes backnforth1 {
    0% {
        right: 0rem;
    }
    50% {
        right: -3rem;
    }
    100% {
        right: 0rem;
    }
}

@keyframes backnforth2 {
    0% {
        right: 7rem;
    }
    50% {
        right: 4rem;
    }
    100% {
        right: 7rem;
    }
}

#side_area {
    animation-name: fade;
    animation-duration: 2s;
}

#title {
    font-size: 9.5vh;
    /* margin-top: auto; */
    margin-left: 4rem;
    margin-top: 11rem;
    /* padding-bottom: -10rem; */
    position: absolute;
    z-index: 1;
}

#title h1 {
    text-shadow: 8px 8px rgba(0, 0, 0, 0.5);
    margin-left: -0.5rem;
}

h1,h3,p {
    color: white;
    opacity: 100%;
    font-family: "Manrope", serif; 
    /* font-family: "Alumni Sans Pinstripe", serif; */
}

#title p {
    margin-top: -10vh;
    font-size: 3vh;
    max-width: 40rem;
    margin-left: 0rem;
    /* margin-bottom: 4vh; */
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);

}

#title ul {
    margin-top: -10px;
    padding-left: 0;
}

#title li {
    list-style-type: none;
    margin-right: 10px;
    float: left;
}

#title input[type=submit],#title a {
    /* background-color: black; */
    background-color: rgba(0,0,0,0);
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    color: white;
    padding: 20px 40px;
    text-decoration: none;
    /* margin: 4px 2px; */
    cursor: pointer;
    font-family: "Manrope", serif; 
    font-size: 25px;
    transition: all 400ms ease;

    /* float: left; */
    /* margin-right: 10px; */
}

#title input[type=submit]:hover,#title a:hover{
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 20px 44px;
    transition: all 400ms ease;
}

#side_area {
    /* position: absolute; */
    width: 80vh;
    /* background-color: rgba(0,0,0, 0.5); */
    height: 100%;
    /* opacity: 50%; */
    /* z-index: 5; */
    float: left;
}

.scroll_indicator {
    position: relative;
    z-index: 10;
}

#background {
    position: absolute;
    z-index: 0;
    right: 0px;
    height: 100%;
}

#background1 {
    /* float: right;
    position: relative;
    z-index: 9;
    /* animation-name: slide1; */
    /* animation-duration: 1s;  */
    position: absolute;
    right:0rem;
    /* height: 90%; */
    height: 100vh;
    z-index: 1;
    animation: slide1, backnforth1;
    animation-duration: 1s, 3s;
    animation-iteration-count: 1, infinite;
    animation-delay: 0s, 1s;

    /* animation-name: backnforth1;
    animation-duration: 1s;
    animation-iteration-count: infinite; */
}

#background2 {
    
    position: absolute;
    right:7rem;
    z-index: 0;
    height: 100vh;
    /* animation-name: slide2;
    animation-duration: 1.5s; */
    /* animation-delay: 0.5s; */

    animation: slide2, backnforth2;
    animation-duration: 1.5s, 3s;
    animation-iteration-count: 1, infinite;
    animation-delay: 0s, 1.5s;
}

#right_side {
    width: 50%;
    height: 100%;
    float: right;
    position: relative;
    z-index: 0;
    /* background-color: blue; */
}

#daniel {
    margin-left: 3rem;
    position: absolute;
    z-index: 1;
    margin-top: 10vh;
    height: 80vh;
    /* animation-name: bigger; */
    /* animation-duration: 1s; */
}

/* #cv_container {
    float: left;
    width: 50%;
    height: 100%;
} */
/* 
#cv {
    margin-top: 20%;
    text-align: center;
    width: 100%;
} */

#top_area::after{
    content: "";
    display: table;
    clear: both;
}



#info_section {
    text-align: center;
    background-color: black;
    width: 100%;
    height: 100%;
    /* padding: 20px; */
}

    /* #info_right {
        width: 100%;
        background-color: rgba(0,0,0, 0.5);
        height: 100%;
        float: right;
    } */

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

nav{
    display: none;
}

section{
    height:100vh;
    scroll-snap-align: start;
}

.scroll_indicator{
    position: fixed;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.scroll_indicator a{
    float: left;
    list-style-type: none;
    padding: 10px;
    position: relative;
}

.scroll_indicator a::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(10, 64, 0);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 400ms ease;
}

.scroll_indicator a.active::after{
    background: rgb(255, 255, 255);
    transform: translate(-50%,-50%) scale(1.3);
}

.scroll_indicator a::before {
    content: attr(data-section);
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translate(4px, -50%);
    /* background: black; */
    /* background: linear-gradient(0.25turn, #000, (gold)); */
    color: rgb(0, 31, 0);
    font-family: "Manrope", serif; 
    font-weight: "bold";
    padding: 2px 16px;
    text-transform: uppercase;
    border-radius: 10%;
    opacity: 0;
    transition: all 400ms ease;
}

.scroll_indicator a:hover::before {
    opacity: 1;
    transform: (0,-50%);
        
}

.scroll_indicator a:hover::after {
    height: 20px;
    width: 20px;
    transition: all 400ms ease;
}

/* Testing */

#info_area {
    margin-top: -16px;
    height: 100%;
    background-color: rgba(0,0,0, 0.5);
}

.gallery {
    /* border: 1px solid lightgray; */
    padding: 1rem;
    display: flex;
    overflow-x: scroll;
    scroll-padding: 0 50%;
    scroll-snap-type: x mandatory;
    /* overflow: hidden; Hide scrollbars */
  }
  
  #outer {
    margin-top: 1rem;
    padding: 10vh 100px;
    background-color: rgba(24, 24, 24, 0.7);
    scroll-snap-align: center;
    display: inline-block;
    height: 70vh;
    border-radius: 25px;
    margin-right: 3rem;
    width: 100rem;
  }

  #inner{
    list-style-type: none;
  }

  #inner li{
    float: left;
    display: inline;
  }

  .gallery p{
    float: left;
    width: 100%;
  }

  .gallery h3{
    font-size: 50px;
    width: 500px;
    margin-bottom: -3px;
    margin-top: 0px;
  }

#outer img{
    border-radius: 10px;
    height: 60%;
    text-align: center;
    display: block;
    margin: 20px auto 0 auto;
  }

.gallery::-webkit-scrollbar {
    display: none;
}