body {
    /* max-width: 1000px; */
    min-width: 1000px;
    min-height: 1000px;
    
    height: 100vh;
    margin: 0;
    background-color: rgb(34, 66, 2);
    background-repeat: space;
    background-position: center center;
    background-attachment: fixed;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
}

@keyframes slide1 {
    from {width: 0rem;}
    to {width:60rem;}
}

@keyframes slide2 {
    from {width: 0rem;}
    to {width:80rem;}
}

@keyframes slide3 {
    from {width: 0rem;}
    to {width:100rem;}
}

@keyframes slide4 {
    from {width: 0rem;}
    to {width:40rem;}
}

@keyframes slide5 {
    from {width: 0rem;}
    to {width:60rem;}
}

@keyframes fade {
    from {opacity: 0%;}
    to {opacity: 100%;}
}


@keyframes backnforth1 {
    0% {
        width: 60rem;
    }
    50% {
        width: 59rem;
    }
    100% {
        width: 60rem;
    }
}

@keyframes backnforth2 {
    0% {
        width: 80rem;
    }
    50% {
        width: 79rem;
    }
    100% {
        width: 80rem;
    }
}

@keyframes backnforth3 {
    0% {
        width: 100rem;
    }
    50% {
        width: 99rem;
    }
    100% {
        width: 100rem;
    }
}

@keyframes backnforth4 {
    0% {
        width: 40rem;
    }
    50% {
        width: 39rem;
    }
    100% {
        width: 40rem;
    }
}

@keyframes backnforth5 {
    0% {
        width: 60rem;
    }
    50% {
        width: 59rem;
    }
    100% {
        width: 60rem;
    }
}


#side_area {
    animation-name: fade;
    animation-duration: 2s;
}

#title {
    font-size: 18vh;
    /* margin-top: auto; */
    /* margin-left: 4rem; */
    margin-top: 0vh;
    /* padding-bottom: -10rem; */
    position: absolute;
    z-index: 1;
}

#title h1 {
    max-width: 10rem;
    text-shadow: 8px 8px rgba(12, 37, 0, 0.5);
    margin-left: 10rem;
    margin-top: 16vh;
    margin-bottom: 0vh;
    /* font-family: "Manrope", serif;  */
    font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal; 
    color: white;
    line-height: 0.9;
    letter-spacing: 15px
}

h3,p {
    color: white;
    opacity: 100%;
    font-family: "Manrope", serif; 
    /* font-family: "Alumni Sans Pinstripe", serif; */
}

#title p {
    margin-top: 0vh;
    font-size: 2.5vh;
    max-width: 40rem;
    margin-left: 10rem;
    margin-bottom: 0vh;
    /* margin-bottom: 4vh; */
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);

}

#title ul {
    /* margin-top: -10px; */
    margin-top: -7vh;
    padding-left: 0;
    margin-left: 10rem;
}

#title li {
    list-style-type: none;
    margin-right: 30px;
    float: left;
}

#title input[type=submit],#title a {
    /* background-color: black; */
    background-color: rgba(0,0,0,0);
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    color: white;
    padding: 20px 40px;
    text-decoration: none;
    /* margin: 4px 2px; */
    cursor: pointer;
    font-family: "Manrope", serif; 
    font-size: 25px;
    transition: all 400ms ease;

    /* float: left; */
    /* margin-right: 10px; */
}

#title input[type=submit]:hover,#title a:hover{
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 20px 44px;
    transition: all 400ms ease;
}

#side_area {
    /* position: absolute; */
    width: 80vh;
    /* background-color: rgba(0,0,0, 0.5); */
    height: 100%;
    /* opacity: 50%; */
    /* z-index: 5; */
    float: left;
}

.scroll_indicator {
    position: relative;
    z-index: 10;
}

#background {
    position: absolute;
    z-index: 0;
    right: 0px;
    height: 100%;
}

#background1 {
    position: absolute;
    right:0rem;
    height: 100vh;
    width: 60rem;
    z-index: 3;
    animation: slide1, backnforth1;
    animation-duration: 1s, 3s;
    animation-iteration-count: 1, infinite;
    animation-delay: 0s, 1s;
}

#background2 {
    
    position: absolute;
    right:0rem;
    z-index: 2;
    height: 110vh;
    width: 80rem;

    /* animation-name: slide2;
    animation-duration: 1.5s; */
    /* animation-delay: 0.5s; */

    animation: slide2, backnforth2;
    animation-duration: 1.5s, 3s;
    animation-iteration-count: 1, infinite;
    animation-delay: 0s, 1.5s;
}

#background3 {
    
    position: absolute;
    right:0rem;
    z-index: 1;
    height: 120vh;
    width: 100rem;
    /* animation-name: slide2;
    animation-duration: 1.5s; */
    /* animation-delay: 0.5s; */

    animation: slide3, backnforth3;
    animation-duration: 2s, 3s;
    animation-iteration-count: 1, infinite;
    animation-delay: 0s, 2s;
}

#backgroundAbout {
    position: relative;
    z-index: 0;
    float: left;
    /* height: 200vh; */
/*     top: 150vh; */
}

#background4 {
    
    position: absolute;
    left:0rem;
    z-index: 4;
    height: 60vh;
    width: 60rem;
    top: 30vh;
    /* animation-name: slide2;
    animation-duration: 1.5s; */
    /* animation-delay: 0.5s; */

    animation: slide4, backnforth4;
    animation-duration: 1s, 3s;
    animation-iteration-count: 1, infinite;
    animation-delay: 0s, 1s;
}

#background5 {
    
    position: absolute;
    left:0rem;
    z-index: 2;
    height: 80vh;
    width: 80rem;
    top: 20vh;
    /* animation-name: slide2;
    animation-duration: 1.5s; */
    /* animation-delay: 0.5s; */

    animation: slide5, backnforth5;
    animation-duration: 1.5s, 3s;
    animation-iteration-count: 1, infinite;
    animation-delay: 0s, 1.5s;
}

#daniel {
    /* margin-left: 3rem; */
    position: absolute;
    z-index: 4;
    right: 3rem;
    margin-top: 12vh;
    height: 80vh;
    animation-name: fade; 
    animation-duration: 1s;
}

#right_side {
    width: 50%;
    height: 100%;
    float: right;
    position: relative;
    z-index: 0;
    /* background-color: blue; */
}

#top_area::after{
    content: "";
    display: table;
    clear: both;
}

#info_section {
    text-align: center;
    background-color: black;
    width: 100%;
    height: 100%;
    /* padding: 20px; */
}

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth !important;
}

nav{
    display: none;
}

section{
    height: 100vh;
    scroll-snap-align: start;
    z-index: 1;
}

.scroll_indicator{
    position: fixed;
    /* right: 0px; */
    left: 4.5rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.scroll_indicator a{
    float: left;
    list-style-type: none;
    padding: 10px;
    position: relative;
}

.scroll_indicator a::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 0;

    text-align: center;
    font-family: "Manrope", serif;
    font-weight: "bold";
    color: rgba(0, 0, 0, 0);
    transition: all 400ms ease;

}

.scroll_indicator a.active::after{
    background: rgb(255, 223, 43);
    transform: translate(-50%,-50%) scale(1.3);
}

.scroll_indicator a::before {
    z-index: 10;
    /* content: attr(data-section); */
    position: absolute;
    /* text-align: center; */
    /* left: -10rem; */
    top: 50%;
    transform: translate(0px, -50%);
    /* background: rgb(19, 44, 0); */
    /* background: linear-gradient(0.25turn, #000, (gold)); */
    /* color: rgb(0, 0, 0); */
    /* text-align: center;
    font-family: "Manrope", serif;
    font-weight: "bold";
    color: black; */
    padding: 2px 16px;
    text-transform: uppercase;
    /* border-radius: 10%; */
    opacity: 0;
    transition: all 400ms ease;
}

.scroll_indicator a:hover::before {
    opacity: 1;
    transform: (0,-50%);
        
}

.scroll_indicator a:hover::after {
    height: 20px;
    width: 500%;
    border-radius: 5%;
    text-align: center;
    font-family: "Manrope", serif;
    font-weight: "bold";
    color: black;

    padding: 5px 0px;
    
    transition: all 400ms ease;
    content: attr(data-section);
}

/* Testing */

#info_area {
    /* margin-top: 0; */
    /* height: 100%; */
    background-color: rgba(0,0,0, 0.5);
}

#experience {
    position: relative;
    z-index: 1;
}

#experiences {
    margin: 0vh 10rem 5vh 10rem;
}

#experiences h1 {
    font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal; 
    color: rgb(255, 255, 255);
    font-size: 10vh;
    padding-top: 50px;
    padding-left: 0rem;
    text-shadow: 4px 4px rgba(0, 0, 0, 0.5);

    /* margin: 10vh 0   rem 0vh 0rem; */
    
}

#experienceP {
    font-family: "Manrope", serif;
  font-weight: 400;
  font-style: normal; 
    color: white;
    font-size: 3vh;
    margin-top: -9vh;
    padding-left: 0rem;
    margin-bottom: 6vh;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);

}

#experiences ul {
    /* border: 1px solid lightgray; */
    padding: 0;
    list-style-type: none;
    display: flex;
    overflow-x: auto;
    /* overflow-x: scroll; */
    scroll-padding: 0 50%;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth !important;
    scroll-snap-align: center;
}

.gallery {
    margin-top: -5vh;
    margin-left: -1rem;
    height: 70vh;
}
  
.gallery a {
    /* margin-top: 8rem; */
    padding: 10vh;
    background-color: rgba(24, 24, 24, 0.7);
    scroll-snap-align: center;
    display: inline-block;
    height: 15vh;
    width: 20rem;

    border-radius: 25px;
    /* margin-right: 3rem; */
    
    transition: all 400ms ease;
    text-decoration: none;
    /* list-style-type: none; */
    margin: 9rem 1rem 0rem 1rem;
    /* opacity: 50%; */
    font-size: 0vh;
  }

  .outerEl {
    margin-left: -2.5rem;
  }

  .outer:hover{
    opacity: 100%;
    /* position: absolute; */
    margin: 0vh 2rem 0rem 2rem;
    margin-top: 1rem;
    width: 100rem;
    height: 40vh;
    font-size: 2vh;
    padding-right: 3rem;

    
  }

  /* .outer li:hover:after {

  } */

  #inner{
    list-style-type: none;
  }

  #inner li{
    float: left;
    display: inline;
  }

  .gallery p{
    float: left;
    width: 100%;
  }

  .gallery h3{
    font-size: 50px;
    width: 500px;
    margin-bottom: -3px;
    margin-top: 0px;
  }

#outer img{
    border-radius: 10px;
    height: 60%;
    text-align: center;
    display: block;
    margin: 20px auto 0 auto;
  }

.gallery::-webkit-scrollbar {
    display: none;
}
